.remove-card-confirm-modal {
  p {
    font-family: "Gilroy Regular", sans-serif;
    font-size: 20px;
    line-height: 1.5;
    color: hsl(var(--text-muted));
  }
}

.remove-card-confirm-modal-button {
  background-color: hsl(var(--danger));
  height: 50px;

  margin: 20px 0;

  &:hover {
    background-color: hsl(var(--danger-hover));
  }
}