.modes-toggle-group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  > span {
    font-size: 18px;
    color: hsl(var(--text-subtle));
    margin-bottom: 10px;
  }

  .modes-toggle-group-item {
    border: none;
    background-color: hsl(var(--surface-muted));

    &[data-state="on"] {
      background-color: hsl(var(--brand) / 0.27);
    }
  }
}