
.deck-menubar {
    width: 350px !important;
    border: 5px solid hsl(var(--surface-raised));
    background-color: hsl(var(--surface-raised)) !important;

    .deck-menubar-container {
        .menubar-list-item {
            width: 100%;
            height: 60px;
            transition: .3s ease;


            display: flex;
            justify-content: flex-start;

            background-color: hsl(var(--surface-raised));
            border: none;
            font-size: 16px;
            font-family: "Gilroy Light", sans-serif;

            svg {
                width: 30px;
                height: 35px;
                margin-right: 15px;
                color: hsl(var(--brand));
            }


            &:hover {
                font-family: "Gilroy Regular", sans-serif;
                background-color: hsl(var(--brand) / 0.16);
            }
        }
    }
}