.memoization-page {
    .memoization-page-buttons {
        height: 100px;
        display: flex;
        justify-content: center;
        align-items: center;


        .memoization-button {
            padding: 30px 65px;
            margin: 0 15px;

            svg {
                width: 32px;
                height: 32px;
            }

            &.fail-button {
                background-color: hsl(var(--danger));

                &:hover {
                    background-color: hsl(var(--danger-hover));
                }
            }

            &.success-button {
                background-color: hsl(var(--success));

                &:hover {
                    background-color: hsl(var(--success-hover));
                }
            }

            &.continue-button {
                background-color: hsl(var(--neutral-info));
            }
        }
    }
}